<script>
    (function(d, s, id) {
        if (d.getElementById(id)) {
            if (window.__TOMORROW__) {
                window.__TOMORROW__.renderWidget();
            }
            return;
        }
        const fjs = d.getElementsByTagName(s)[0];
        const js = d.createElement(s);
        js.id = id;
        js.src = "https://www.tomorrow.io/v1/widget/sdk/sdk.bundle.min.js";

        fjs.parentNode.insertBefore(js, fjs);
    })(document, 'script', 'tomorrow-sdk');
    </script>

    <div class="tomorrow"
       data-location-id="114595"
       data-language="EN"
       data-unit-system="IMPERIAL"
       data-skin="light"
       data-widget-type="upcoming"
       style="padding-bottom:22px;position:relative;"
    >
      <a
        href="https://www.tomorrow.io/weather/"
        rel="nofollow noopener noreferrer"
        target="_blank"
        style="position: absolute; bottom: 0; transform: translateX(-50%); left: 50%;"
      >
        <img
          alt="Powered by Tomorrow.io"
          src="https://weather-website-client.tomorrow.io/img/powered-by-tomorrow.svg"
          width="140"
          height="15"
        />
      </a>
    </div>